{{!-- Delete hide form --}}
<form action="POST" name="deleteForm"></form>
<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{ deletedCount }})</a>
  </div>
  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>
    <select class="form-control form-control-sm checkbox-select-all-options" name="action">
      <option value="">--Hành động--</option>
      <option value="delete">Xóa</option>
    </select>
    <button class="btn btn-primary btn-sm btn-disabled disabled">Thực hiện</button>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{ this._id }}"> 
          </div>
        </td>
        <td>{{ sumCustomerFunction @index 1}}</td>
        <td>{{ this.name }}</td>
        <td>{{ this.level }}</td>
        <td>{{ this.createdAt }}</td>
        <td>
          <a href="/courses/{{ this._id }}/edit" class="btn btn-link">Sửa</a>
          <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteCourseModal" data-id="{{ this._id }}">Xóa</a>
        </td>
      </tr>
      {{else }}
      <tr>
        <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào. <a href="/courses/create">Đăng khóa học</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>
<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="deleteCourseModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


{{!--  --}}
<script>
  const exampleModal = document.getElementById('deleteCourseModal')
  if (exampleModal) {
    var courseId;
    var deleteForm = document.forms['deleteForm'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckbox = $('input[name="courseIds[]"]');
    var btnDisabled = $('.btn-disabled');
    var containerForm = document.forms['container-form'];

    var selectAction = $('select[name="action"]');
    exampleModal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extract info from data-bs-* attributes
      courseId = button.getAttribute('data-id');
    })

  }
    btnDeleteCourse.onclick = function() {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteForm.method = 'POST';
      deleteForm.submit();
    }

    // checkbox all clicked
    checkboxAll.change(function() {
      courseItemCheckbox.prop('checked', $(this).prop('checked'));
      renderCheckAllSubmitBtn();
    });

    // Course item checkbox clicked
    courseItemCheckbox.change(function() {
      checkboxAll.prop('checked', courseItemCheckbox.length === courseItemCheckbox.filter(':checked').length);
      renderCheckAllSubmitBtn();
    });

    btnDisabled.click(function(e) {
      e.preventDefault();
      var isSubmittable = !$(this).hasClass('disabled');
      if (isSubmittable) {
        containerForm.submit();
      }

    })

    btnDisabled.on('submit', function(e) {
      e.preventDefault();
      var isSubmittable = !$(this).hasClass('disabled');
      if (!isSubmittable) {
        e.preventDefault();
      }
    })
    selectAction.change(function() {
      renderCheckAllSubmitBtn();
    })
    function renderCheckAllSubmitBtn() {
      return courseItemCheckbox.filter(':checked').length && selectAction.val() ? btnDisabled.removeClass('disabled') : btnDisabled.addClass('disabled');
    }
</script>